<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>郵便番号から住所を検索する</title>
</head>
<body style="font-family:游明朝; background-color:#FFFEF9;">
	<h1 style="color:black;font-size: 50px;line-height:60px;margin-top:8px;border-style:solid;border-right-style:hidden;border-left-style:hidden;text-align:center;background-color:#D3E8C1;">郵便番号から住所を検索する</h1>
	<form th:action="@{/zip2address}" method="GET">
	<br>
	<p style="text-align:center;font-size:25px;">郵便番号：<input type="text" name="zipCode" style="font-family:游明朝;text-align:right;background-color:white;font-size:25px;"> <input type="submit" value="検索" style="font-family:游明朝;font-size:25px;"></p>
	</form>

</body>
</html>